* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.container {
  background-color: #111;
}

.salute {
  height: 100vh;
  display: flex;
}

/* The saluteTextContainer is 3 times bigger than the saluteImgContainer */

.saluteTextContainer {
  flex: 3;
}

.saluteImgContainer {
  flex: 1;
}
